<!DOCTYPE html>
<html lang="{{.Site.Language.Lang }}" xml:lang="{{.Site.Language.Lang }}">

<head>
    {{ partial "head.html" . }}
    {{- if .IsHome -}}
    <meta name="description" content="{{ site.Params.Description }}" />
    {{- else -}}
    <meta name="description" content="{{ .Params.Description }}" />
    {{- end }}

</head>

<body class="bg-zinc-100 dark:bg-red-800">
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
</body>

</html>